<div class="container">
  @if (isLoading()) {
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#14ADD6"
      type="ball-scale-pulse"
    >
      <p class="loading">Loading</p>
    </ngx-spinner>
  }
  <div class="image-bg">
    <img src="forgot_img.png" alt="login-image">
  </div>
  <div class="login-container">
    <div class="header">
      <img src="Logo.svg" class="logo" alt="logo">
      <button routerLink="signup" class="header-btn">Signup</button>
    </div>

    <form class="form-group" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
      <div class="heading">
        <p>Password recovery.</p>
        <h3>Forgot your Password?</h3>
        <p>
          Kindly enter the email address linked to this account and
          we will send you a code to enable you change your
          password.
        </p>
      </div>
      <div class="form-control">
        <label for="email">Email <span>*</span></label>
        <input
          type="email"
          placeholder="Enter your email"
          formControlName="email"
          required
          id="email"
        >
        <div
          class="error"
          *ngIf="getControl('email')?.invalid && (getControl('email')?.touched || getControl('email')?.dirty)"
        >
          <div *ngIf="getControl('email')?.errors?.['required']">email is required</div>
          <div *ngIf="getControl('email')?.errors?.['invalidDomain']">Email domain is not allowed</div>
          <div *ngIf="getControl('email')?.errors?.['invalidEmail']">Invalid email format</div>
        </div>
      </div>
      <button
        type="submit"
        [disabled]="forgotPasswordForm.invalid || isLoading()"
      >
        Send
      </button>
    </form>
  </div>
</div>
