<div class="container">
  @if (isLoading()) {
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#14ADD6"
      type="ball-scale-pulse"
    >
      <p class="loading">Loading</p>
    </ngx-spinner>
  }
  <div class="image-bg">
    <img src="reset_password.png" alt="login-image">
  </div>
  <div class="login-container">
    <div class="header">
      <img src="Logo.svg" class="logo" alt="logo">
      <button routerLink="signup" class="header-btn">Signup</button>
    </div>

    <form class="form-group" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <div class="heading">
        <p>Password recovery.</p>
        <h3>Password reset</h3>
        <p>Kindly enter a new password</p>
      </div>
      <div class="form-control">
        <label for="newPassword">Password <span>*</span></label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Enter your password"
          formControlName="newPassword"
          required
          id="newPassword"
        >
        <div
          class="eye-icon"
          (click)="toggleShowPassword()"
          (keyup.enter)="toggleShowPassword()"
          tabindex="0"
        >
          <img
            src="{{showPassword ? 'eye-open.svg' : 'eye-close.svg'}}"
            alt="eye-icon"
          >
        </div>
        <div
          class="error"
          *ngIf="getControl('newPassword')?.invalid && (getControl('newPassword')?.touched || getControl('newPassword')?.dirty)"
        >
          <div *ngIf="getControl('newPassword')?.errors?.['required']">password is required</div>
          <div *ngIf="getControl('newPassword')?.errors?.['invalidPassword']">Password is not strong enough</div>
        </div>
      </div>
      <div class="form-control">
        <label for="confirmNewPassword">Confirm Password <span>*</span></label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="Confirm your password"
          formControlName="confirmNewPassword"
          required
          id="confirmNewPassword"
        >
        <div
          class="eye-icon"
          (click)="toggleShowPassword()"
          (keyup.enter)="toggleShowPassword()"
          tabindex="0"
        >
          <img
            src="{{showPassword ? 'eye-open.svg' : 'eye-close.svg'}}"
            alt="eye-icon"
          >
        </div>
        <div
          class="error"
          *ngIf="getControl('confirmNewPassword')?.invalid && (getControl('confirmNewPassword')?.touched || getControl('confirmNewPassword')?.dirty)"
        >
          <div *ngIf="getControl('confirmNewPassword')?.errors?.['required']">Password is required</div>
          <div *ngIf="getControl('confirmNewPassword')?.hasError('passwordMismatch')">Passwords do not match</div>
        </div>
      </div>
      <button
        type="submit"
        [disabled]="resetPasswordForm.invalid || isLoading()"
      >
        Reset
      </button>
    </form>
  </div>
</div>
