<div class="container">
  @if (isLoading()) {
    <ngx-spinner
      bdColor="rgba(0, 0, 0, 0.8)"
      size="medium"
      color="#14ADD6"
      type="ball-scale-pulse"
    >
      <p class="loading">Loading</p>
    </ngx-spinner>
  }
  <div class="image-bg">
    <img src="2FA.jpeg" alt="two_factor_image">
  </div>
  <div class="form-container">
    <img src="Logo.svg" class="logo" alt="logo">
    <form class="form-group" [formGroup]="twoFactorAuthForm" (ngSubmit)="verifyAccount()">
      <p>2FA</p>
      <h2>Please enter the 2FA code <br> sent to your email</h2>
      <div class="form-control">
        <input
          *ngFor="let _ of codeInputs; let index = index"
          type="text"
          maxlength="1"
          id="twoFactorCode{{ index }}"
          (input)="updateCode($event, index)"
          (keydown.backspace)="handleBackspace($event, index)"
          [value]="getDigit(index)"
          required
        />
        <div
          class="error"
          *ngIf="getControl('twoFactorCode')?.invalid && (getControl('twoFactorCode')?.touched || getControl('twoFactorCode')?.dirty)"
        >
          <div *ngIf="getControl('twoFactorCode')?.errors?.['required']">Two Factor Auth Code is required</div>
          <div *ngIf="getControl('twoFactorCode')?.errors?.['invalidCode']">Please enter a valid 6-digit code</div>
        </div>
      </div>
      <button
        type="submit"
        [disabled]="twoFactorAuthForm.invalid || isLoading()"
        class="verify-btn"
      >
        Verify
      </button>
    </form>
  </div>
</div>
